// Colors

$white: #ffffff;
$black: #000000;

$hailo: #FABB14;

$text: #333;
$headerText: #a6a6a6;

$footerGrey: #f7f7f7;
$bodyGrey: #fafafa;
$headerBorder: #e6e6e6;

$link: #17b;
$linkBlock: #1981C9;

$successGreen: #1CB841;
$errorRed: #CA3C3C;

//BUTTONS
$hc-primary: rgb(223, 117, 20);
$hc-accept: rgb(02, 166, 55);
$hc-danger: rgb(223, 50, 20);
$hc-enabled: rgb(66, 144, 221);
$hc-drained: rgb(201, 201, 201);
