body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

code {
    font-family: 'Inconsolata', monospace, sans;
}

h1, h2, h3 {
    font-weight: 300;
}