body {
    a {
        text-decoration: none;
        color: $link;
        -webkit-tap-highlight-color: #ffffff;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    a:hover {
        color: #39e;
        text-decoration: underline;
        background-color: none;
        outline: none;
        color: lighten($link, 15);
    }
}

.hide {
    display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.bold {
    font-weight: bold;
}

.h-padded-1 {
  padding: 1em;
}
.h-padded-2 {
  padding: 2em;
}

.h-clear-fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.h-clear-fix {
  zoom: 1;
}

.h-center {
  text-align: center;
}

.h-width-10-em {
  width: 10em;
}

.h-width-15-em {
  width: 15em;
}

.h-width-1-4 {
  width: 25%;
}

.h-width-1-5 {
  width: 20%;
}