// responsive design, on by default
$responsive-design-enabled: true !default;

// Sizes recognised:
$mq-xs: "(max-width:767px)";
$mq-sm: "(min-width:768px)";
$mq-md: "(min-width:992px)";
$mq-lg: "(min-width:1200px)";

// responsive design media query mixin
@mixin mq($point) {
    @if ($responsive-design-enabled) {
        @if $point == mq-xs {
            @media #{$mq-xs} { @content; }
        }
        @else if $point == mq-sm {
            @media #{$mq-sm} { @content; }
        }
        @else if $point == mq-md {
            @media #{$mq-md} { @content; }
        }
        @else if $point == mq-lg {
            @media #{$mq-lg} { @content; }
        }
    }
}

/* Transform */

@mixin transform($property: none) {
    transform:         $property;
    -moz-transform:    $property;
    -webkit-transform: $property;
    -ms-transform:     $property;
    -o-transform:      $property;
}

/* Box shadow */

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $spread $color;
        -moz-box-shadow:inset $top $left $blur $spread $color;
        box-shadow:inset $top $left $blur $spread $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $spread $color;
        -moz-box-shadow: $top $left $blur $spread $color;
        box-shadow: $top $left $blur $spread $color;
    }
}

@mixin box-shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Transition */

@mixin transition($property:none, $time:1s, $method:ease) {
    -webkit-transition: $property $time $method;
    -moz-transition: $property $time $method;
    -ms-transition: $property $time $method;
    -o-transition: $property $time $method;
    transition: $property $time $method;
}