<div class="toolbar hb-group">
    <a href="/app/<%- application.toLowerCase() %>/users/create" class="create h-button">Create  user</a>
    <a href="/app/<%- application.toLowerCase() %>/users/find" class="find h-button">Find  user</a>
</div>

<!--
<form class="h-form h-form-inline">
    <select id="application">
        <% _.each(possibleApplications, function(possApp) {
                var html = '<option value="' + possApp + '"';
                if (possApp == application) { html += ' selected'; }
                html += '>' + possApp  + ' users</option>';
                print(html);
            }); %>
    </select>
</form>
-->
